<div class="container col-md-12 col-sm-12">

<h1>Welcome {{ fullName }}</h1>
<br/>
<h3>
Your  <a href="#" class="alert-link">Knee Surgery</a> operation is on  <a href="#" class="alert-link">29/October/2017</a> at <a href="#" class="alert-link">Cowra Hospital</a>
</h3>
<!-- Health Issue list -->
  <!--div class="form-group">
    <label for="sel1">Health Issue Select list:</label>
    <select class="form-control" id="sel1">
      <option value="1">Arthritis</option>
      <option>Heart Disease</option>
      <option>Respiratory Diseases</option>
      <option>Alzheimer's Disease</option>
      <option>Osteoporosis</option>
      <option>Diabetes</option>
      <option>Influenza and Pneumonia.</option>
      <option>Cancer</option>
      <option>Obesity</option>
    </select>
  </div-->

  <!-- Prefered Location list -->
  <!--div class="form-group">
    <label for="sel2">Your preferred location:</label>
    <select class="form-control" id="sel2">
      <option value="1">BoxHill Hospital</option>
      <option>Albury Wodonga Health (</option>
      <option>Armidale Hospital</option>
      <option>Blayney Multi Purpose Service</option>
      <option>Casino Hospital</option>
      <option>Cowra Hospital</option>
      <option>Finley Hospital</option>
      <option>Gloucester Hospital</option>
      <option>Ivanhoe Hospital</option>
    </select>
  </div-->

  <!-- Your Operation On -->
  <!--div class="form-group">
    <form class="form-inline">
      <label for="sel2">Your operation is on:</label>
      <div class="form-group ml-3">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" ngbDatepicker #a="ngbDatepicker">
          <button class="input-group-addon" (click)="a.toggle()" type="button">
            <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>
        </div>
      </div>
    </form>

    <hr/>
  </div-->
<br/>
<br/>

  <div class="row">
    <div class="col-lg-6">
        <h5>Your calendar</h5>
        <table class="table">
        <tbody>
        <tr>
          <td class="timeline">29/Oct/2017 <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
          </td>
          <td>Consultation 1</td>
        </tr>
        <tr>
            <td class="timeline">30/Oct/2017 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></td>
          <td>Consultation 2</td>
        </tr>
        <tr>
            <td class="timeline">10/Nov/2017 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></td>
          <td>Consultation 3</td>
  
        </tr>

        </tbody>
        </table>
  
    </div>
  </div>





  <!--div class="form-group">
    <form class="form-inline">
      <label for="sel2">Consultation 1:</label>
      <div class="form-group ml-3">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="con1" ngbDatepicker #b="ngbDatepicker">
          <button class="input-group-addon" (click)="b.toggle()" type="button">
            <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>
        </div>
      </div>
    </form>

    <hr/>
  </div>
  <div class="form-group">
    <form class="form-inline">
      <label>Consultation 2:</label>
      <div class="form-group ml-3">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="con1" ngbDatepicker #c="ngbDatepicker">
          <button class="input-group-addon" (click)="c.toggle()" type="button">
            <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>
        </div>
      </div>
    </form>
    <hr/>
  </div>
  <div class="form-group">
    <form class="form-inline">
      <label>Consultation 3:</label>
      <div class="form-group ml-3">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="con1" ngbDatepicker #d="ngbDatepicker">
          <button class="input-group-addon" (click)="d.toggle()" type="button">
            <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>
        </div>
      </div>
    </form>
    <hr/>
  </div>
  <div class="form-group">
      <label>Need it Earlier?</label>
      <a class="btn btn-primary" href="/ptsearch">Check other options</a>
    <hr/>
  </div-->

  <div class="form-group">
    <label>Need it Earlier?</label>
    <a class="btn btn-primary" href="/ptsearch">Check other options</a>
  <hr/>
</div>

</div> <!-- /container -->
