.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.login-page-container{
  margin-bottom: 5%;
}
.timeline{
  
    border-right: 1px solid #ccc;
    position: relative;
    i {
      position: absolute;
      text-align: right;
      right: -8px;
      top:17px;
    }
  }