<div class="container">
<h1>Welcome Dr. Surgeon       <i class="fa fa-user-circle fa-3" aria-hidden="true"></i></h1>
<h3>Your Appointments & Surgeries</h3>
<div class="row">

  <div class="col-lg-6">

    </div>
</div>

<a href="/drpayments">View patient payments</a>

<div class="row">
  <div class="col-lg-6">
      <h3>Your calendar</h3>
      <table class="table">
      <tbody>
      <tr>
        <td class="timeline">29/Oct/2017 <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
        </td>
        <td>Appointment(Mr. Davin Jones - Orthopedic)</td>
      </tr>
      <tr>
          <td class="timeline">30/Oct/2017 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></td>
        <td>Surgery(Mr. John doe - Knee replacemnt)</td>
      </tr>
      <tr>
          <td class="timeline">10/Nov/2017 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></td>
        <td>Surgery(Mr. John doe - Knee replacemnt)</td>

      </tr>
      <tr>
          <td class="timeline">16/Nov/2017 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></td>
        <td>Appointment(Mr. Davin Jones)</td>

      </tr>
      <tr>
          <td class="timeline">23/Nov/2017 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></td>
        <td>Surgery(Mr. John doe - Knee replacemnt)</td>
      </tr>

      </tbody>
      </table>

  </div>
  <div class="col-lg-6">

      <h3>New Leads</h3>
      <table class="table">
        <thead>
          <th>Appointment</th>
          <th>Surgery</th>
        </thead>
      <tbody>
      <tr>
        <td class="timeline">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me">
            </label>
          </div>
        </td>
        <td>  Surgery for knee replacement</td>
      </tr>
      <tr>
          <td class="timeline">
              <div class="checkbox">
                  <label>
                    <input type="checkbox" value="remember-me">
                  </label>
                </div>
          </td>
        <td>Surgery for knee replacement</td>
      </tr>
      <tr>
          <td class="timeline">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me">
              </label>
            </div>
          </td>
        <td>Surgery for knee replacement</td>

      </tr>
      <tr>
          <td class="timeline">
              <div class="checkbox">
                  <label>
                    <input type="checkbox" value="remember-me">
                  </label>
                </div>
          </td>
        <td>Surgery for knee replacement</td>

      </tr>
      <tr>
          <td class="timeline">
              <div class="checkbox">
                  <label>
                    <input type="checkbox" value="remember-me">
                  </label>
                </div>
          </td>
        <td>Surgery for knee replacement</td>
      </tr>

      </tbody>
      </table>

    </div>
</div>
</div> <!-- /container -->
