<div class="container">
<h1>Welcome Dr. Surgeon       <i class="fa fa-user-circle fa-3" aria-hidden="true"></i></h1>
<h3>Your Appointments & Surgeries</h3>
<div class="row">

  <div class="col-lg-6">

    </div>
</div>

<a href="/drpayments">View patient payments</a>

<div class="row">
  <div class="col-lg-6">
      <h3>Your calendar</h3>
      <table class="table">
      <tbody>
      <tr *ngFor="let appointment of appointments" >
        <td class="timeline"> {{appointment.date}} <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
        </td>
        <td>{{appointment.detail}}</td>
      </tr>


      </tbody>
      </table>

  </div>
  <div class="col-lg-6">

      <h3>New Leads</h3>
      <table class="table">
        <thead>
          <th>Appointment</th>
          <th>Surgery</th>
          <th>Date</th>
        </thead>
      <tbody>

      <tr *ngFor="let lead of leads" >
        <td class="timeline">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true" (change)="handleChange($event, lead.id)">
            </label>
          </div>
        </td>
        <td> {{lead.detail}}</td>
        <td> {{lead.date}}</td>
      </tr>
      </tbody>
      </table>

    </div>
</div>
</div> <!-- /container -->
