<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">


    <header>
        <div class="collapse bg-dark" id="navbarHeader">
          <div class="container">

          </div>
        </div>
        <div class="navbar navbar-dark bg-dark">
          <div class="container d-flex justify-content-between">
            <h2 class="pull-left" style="color:white">wait <span style="color:red"><</span></h2>
            <!--a href="#" class="navbar-brand">wait<</a-->

          </div>
        </div>
      </header>
  <div id="wrapper" class="" style="">
    <main>
        <router-outlet></router-outlet>
    </main>
  </div>

</div>

