<div class="container">

<header class="hero-header background-primary-color">
</header>

<h1>Your Appointments & Surgeries</h1>
<div class="row">


</div>

<a href="/drcalendar">My Calendar</a>

<div class="row">
  <div class="col-lg-12">
      <h3>Payments</h3>
      <table class="table">
      <tbody>
        <tr>
          <td colspan="3"> <h6>Cleared payments</h6></td>
        </tr>
      <tr>
        <td class="timeline">21/Oct/2017 <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
        </td>
        <td class="alert alert-success">Appointment(Mr. Davin Jones - Orthopedic)</td>
        <td class="alert alert-success">$ 300.00</td>
      </tr>
      <tr>
          <td class="timeline">23/Oct/2017 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></td>
        <td class="alert alert-success">Surgery(Mr. John doe - Knee replacemnt)</td>
        <td class="alert alert-success">$ 16,000.00</td>
      </tr>
      <tr>
          <td class="timeline">26/Oct/2017 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></td>
        <td class="alert alert-success">Surgery(Mr. John doe - Knee replacemnt)</td>
        <td class="alert alert-success">$ 30,000.00</td>
      </tr>


      <!-- pending payments -->
      <tr>
          <td colspan="3"> <h6>Pending payments</h6></td>
        </tr>
      <tr>
        <td class="timeline">29/Oct/2017 <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
        </td>
        <td class="alert alert-warning"> Payment for Mr. John doe</td>
        <td class="alert alert-warning">$ 300.00</td>
      </tr>
      <tr>
          <td class="timeline">23/Nov/2017 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></td>
          <td class="alert alert-warning"> Payment for Mr. John doe</td>
          <td class="alert alert-warning">$ 300.00</td>
      </tr>


      <!-- Future payments -->
      <tr>
          <td colspan="3"> <h6>Future payments</h6></td>
        </tr>
      <tr>
        <td class="timeline">29/Oct/2017 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></td>
        <td class="alert alert-light"> Payment for Mr. John doe</td>
        <td class="alert alert-light">$ 300.00</td>
      </tr>
      <tr>
          <td class="timeline">23/Nov/2017 <i class="fa fa-dot-circle-o" aria-hidden="true"></i></td>
          <td class="alert alert-light"> Payment for Mr. John doe</td>
          <td class="alert alert-light">$ 300.00</td>
        </tr>
      </tbody>
      </table>

  </div>

</div> <!-- /container -->
